<h2>Edit Profile</h2>

<%= form_for @user do |f| %>

	<%= f.label :firstName, 'First Name' %>:
	<%= f.text_field :firstName %>
	<br />

	<%= f.label :lastName, 'Last Name' %>:
	<%= f.text_field :lastName %>
	<br />

	<%= f.label :email, 'Email' %>:
	<%= f.text_field :email %>
	<br />

	<%= f.label :mobile, 'Mobile' %>:
	<%= f.text_field :mobile %> (Numbers only)
	<br />

	<%= f.label :password, 'Update Password' %>:
	<%= f.password_field :password %>
	<br />

	<%= f.submit %> <%= link_to "Cancel", current_user %>
	
<% end %>

<h2>Favorite Activities</h2>
	<ul>
		<% User.find(current_user.id).activities.each do |a| %>
			<li><%= a.name %> 
				<%= form_for @user, :url => removefavorite_path do |f| %>
					<%= f.hidden_field :activity_id, :value => a.id %>
					<%= f.submit('Remove') %>
				<% end %>
			</li> 
		<% end %>
	</ul>

<h2>Subscribe to Activities</h2>
	<ul>
		<% Activity.all.each do |a| %>
			<li><%= a.name %> 
				<%= form_for @user, :url => addfavorite_path do |f| %>
					<%= f.hidden_field :activity_id, :value => a.id %>
					<%= f.submit('Add') %>
				<% end %>
			</li> 
		<% end %>
	</ul>
