<h1>Sign up</h1>

<%= form_for @user do |f| %>

	<%= f.label :firstName, 'First Name' %>:
	<%= f.text_field :firstName %>
	<br />

	<%= f.label :lastName, 'Last Name' %>:
	<%= f.text_field :lastName %>
	<br />

	<%= f.label :email, 'Email' %>:
	<%= f.text_field :email %>
	<br />

	<%= f.label :mobile, 'Mobile' %>:
	<%= f.text_field :mobile %> (Numbers only)
	<br />

	<%= f.label :password, 'Password' %>:
	<%= f.password_field :password %>
	<br />

	<%= f.submit %> <%= link_to "Cancel", events_path %>

<% end %>
