<%= link_to "Back to Events", root_path %>
<h1><%= @user.firstName %> <%= @user.lastName %></h1> 
<% if signed_in? %>
	<p>
		<%= link_to "Sign out", signout_path, method: "delete" %>
	</p>
	
	<h2>Edit Profile</h2>

	<%= form_for @user do |f| %>
		<%= f.label :firstName, 'First Name' %>:
		<%= f.text_field :firstName %>
		<br />

		<%= f.label :lastName, 'Last Name' %>:
		<%= f.text_field :lastName %>
		<br />

		<%= f.label :email, 'Email' %>:
		<%= f.text_field :email %>
		<br />

		<%= f.label :mobile, 'Mobile' %>:
		<%= f.text_field :mobile %> (Numbers only)
		<br />

		<%= f.label :password, 'New Password' %>:
		<%= f.password_field :password %>
		<br />

		<%= f.submit %> <%= link_to "Cancel", events_path %>
	<% end %>
	<br />

	<h2>Favorite Activities</h2>
	<ul>
		<% User.find(current_user.id).activities.each do |a| %>
			<li><%= a.name %></li>
		<% end %>
	</ul>

<% else %>
	<%= link_to "Sign in", signin_path %>
<% end %>
