<%= link_to "Back to Events", root_path %>
<h1><%= @user.firstName %> <%= @user.lastName %></h1> 
<% if signed_in? %>
	<p>
		<%= link_to "Edit profile", edit_user_path %> <%= link_to "Sign out", signout_path, method: "delete" %>
	</p>
<% else %>
	<p>
		<%= link_to "Sign in", signin_path %>
	</p>
<% end %>

<h2>Favorite Activities</h2>
	<ul>
		<% User.find(current_user.id).activities.each do |a| %>
			<li><%= a.name %></li>
		<% end %>
	</ul>

<h2>Attending Pickups</h2>
	<ul>
		<% User.find(current_user.id).events.each do |e| %>
			<li><%= link_to(event_path(e.id)) do %><%= e.sport %><% end %></li>
			<li><%= e.users.count %> joined</li>
			<li><%= e.start.to_formatted_s(:long_ordinal) %></li>
			<li><%= e.location %></li>
			<br />
		<% end %>
	</ul>
