<!-- MAKE A FUCKING MODEL VIEW AND CONTROLLER AND CRUD THE SHIT OUT OF IT -->
<!-- 

rails new <project-name>

rails general model character name:string age:integer fav_color:string 

rake db:migrate

rm public/index.html

rails generate controller characters

rake routes

-->

<h1>Log!</h1>

<%= link_to "new",new_character_path %>
<br />

<ul>
	<% @characters.each do |c| %>
		<li><%= c.name %> <%= link_to "edit",edit_character_path(c.id) %> <%= link_to "x", character_path(c.id),
		:method => "DELETE" %></li>
		<li><%= c.age %></li>
	<% end %>
</ul>
<br />
<%= @Ren.inspect %>