<h1>Pickups</h1>

<%= link_to "create pickup",new_activity_path %>
<br />

<ul>
	<% @activities.each do |a| %>
		<li><%= a.sport %> <%= link_to "edit",edit_activity_path(a.id) %> <%= link_to "x", activity_path(a.id), :method => "DELETE" %></li>
		<li><%= a.location %></li>
		<li><%= a.note %></li>
		<br />
	<% end %>
</ul>
