<h1>Edit pickup</h1>

<%= form_for @event do |f| %>

	<%= select(:activity, :name, Activity.all.collect { |a| [ a.name, a.name ] }, {:include_blank => 'Select Sport', :selected => @event.sport}) %>

	<%= f.label :start, 'Starts' %>:
	<%= date_select("event", "start", :order => [:day, :month, :year], :discard_year => true) %>

	<%= f.label :location, 'Location' %>:
	<%= f.text_field :location %>

	<%= select(:user, :id, User.all.collect { |u| [ u.firstName, u.id ] }, {:prompt => 'Add Attendees:'}, { :multiple => true, :size => User.all.count, :selected => "Jim" }) %>

	<%= f.submit %> <%= link_to "Cancel", event_path %>

<% end %>
