<h1>Edit pickup</h1>

<%= form_for @event do |f| %>

	<%= select(:activity, :name, Activity.all.collect { |a| [ a.name, a.name ] }, {:include_blank => 'Select Sport', :selected => @event.sport}) %>

	<%= f.label :start, 'Starts' %>:
	<%= datetime_select("event", "start", :order => [:month, :day], :use_short_month => true, :ampm => true, :minute_step => 15, :datetime_separator => 'at ') %>
	<br />

	<%= f.label :location, 'Location' %>:
	<%= f.text_field :location %>
	<br />

	<%= f.submit %> <%= link_to "Cancel", event_path %>

<% end %>
