<h1>New Pickup</h1>

<%= form_for @event do |f| %>
	
	<%= f.hidden_field :organizer, :value => current_user.id %>

	<%= select(:activity, :name, Activity.all.collect { |a| [ a.name, a.name ] }, {:include_blank => 'Select Sport'}) %>

	<%= f.label :start, 'Starts' %>:
	<%= date_select("event", "start", :order => [:day, :month, :year], :discard_year => true) %>

	<%= f.label :location, 'Location' %>:
	<%= f.text_field :location %>

	<%= select(:user, :id, User.all.collect { |u| [ u.firstName, u.id ] }, {:prompt => 'Add Attendees:'}, { :multiple => true, :size => User.all.count }) %>

	<%= f.submit %>

<% end %>
