<%= link_to "Back to Events", root_path %>

<h1><%= @event.sport %> (<%= @event.users.count %> joined)</h1>

<% if current_user.id == @event.organizer %>
	<%= link_to "edit", edit_event_path %> <%= link_to "delete", event_path, :method => "DELETE" %>
<% end %>

<ul>
	<li><%= @event.location %></li>
	<li><%= @event.start.strftime("%A, %b %e at %l:%M%P") %></li>
</ul>

<h2>Joined:</h2>

<ul>
	<% @event.users.each do |u| %>
		<li><%= u.firstName %> <%= u.lastName %></li>
	<% end %>
</ul>

	<% if signed_in? %>

		<% if @event.users.select { |u| u.id == current_user.id }.empty? == true %>
			<%= form_for @event, :url => join_path do |f| %>
				<%= f.hidden_field :event_id, :value => @event.id %>
				<%= f.submit('Join') %>
			<% end %> 
		<% end %>

		<% if @event.users.select { |u| u.id == current_user.id }.empty? == false %>
			<%= form_for @event, :url => leave_path do |f| %>
				<%= f.hidden_field :event_id, :value => @event.id %>
				<%= f.submit('Leave') %>
			<% end %>
		<% end %> 

	<% end %>

	<% if ! signed_in? %>
		<%= link_to "Sign in", signin_path %> or <%= link_to "Sign up", new_user_path %> to join pickup
	<% end %>



